
/dataset/Images/0
/dataset/Images/1
/dataset/Images/2


/dataset/test/0
/dataset/test/1
/dataset/test/2

/dataset/train/0    
/dataset/train/1
/dataset/train/2

/dataset/val/0
/dataset/val/1
/dataset/val/2

/dataset_segmentado/Images/0/mascaras
/dataset_segmentado/Images/0/pulmones

/dataset_segmentado/Images/1/mascaras
/dataset_segmentado/Images/1/pulmones

/dataset_segmentado/Images/2/mascaras
/dataset_segmentado/Images/2/pulmones

/classfication_result/tensorboard_logs